# Исключаем виртуальную среду
venv

# Убираем файлы работы с Git
.github
.gitignore

# Убираем кэш из папки проекта
__pycache__/** 

# Убираем локальные настройки
.vscode
.idea

# Прочее лишнее
.log
logs/
temp/
tmp/